.page-container {
    
  table {
    @extend .table;
    @extend .table-bordered;
  }
  
  blockquote {
    @extend .my-4;
    position: relative;
    margin-bottom: 0;
    padding: $card-spacer-x;
    padding-top: $card-spacer-y * 2.1;
    box-shadow: $box-shadow-sm;
    @include border-radius($border-radius-lg);
  }

  // a {
  //   &:hover {
  //     // color: #FF8A63;
  //     text-decoration: underline;
  //   }
  // }
  figure,img {
      height: auto;
      vertical-align: middle
  }
  
  figure,img,svg {
      max-width: 100%
  }
  
  iframe {
      width: 100%;
      border: 0
  }
}