@font-face {
  font-family: "CalibreWeb";
  src: url("/assets/fonts/CalibreWeb-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "CalibreWeb";
  src: url("/assets/fonts/CalibreWeb-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "CalibreWeb";
  src: url("/assets/fonts/CalibreWeb-Medium.woff2");
  font-weight: 500;
}